@font-face{font-family:'iconitos';src:url("../fonts/icomoon.eot");src:url("../fonts/icomoon.eot?#iefix") format('embedded-opentype'),url("../fonts/icomoon.ttf") format('truetype'),url("../fonts/icomoon.woff") format('woff'),url("../fonts/icomoon.svg#icomoon") format('svg');font-weight:normal;font-style:normal}
a{color:#dd4f24}
body{background:#fff url("../imagenes/strips-bold.png");color:#444;font-family:Arial;font-size:16px}
footer{background:#600 url("../imagenes/strips-bold.png");border-radius:10px;color:rgba(255,255,255,0.5);margin-left:10px;margin-right:20px;margin-bottom:10px;text-align:center;width:100%;padding:1em 0;}
footer h3{font-size:14px;font-weight:normal;}
footer h3 strong{display:block}
footer h3 .mejor:before,footer h3 .mejor:after{content:" - "}
.top{position:absolute;height:6px;width:100%;top:190px;background:url("../imagenes/torn-bottom.png") repeat-x bottom}
header{border-radius:10px;margin-left:10px;margin-right:10px;margin-top:10px;background:#600 url("../imagenes/strips-bold.png");box-shadow:0 5px 0 rgba(0,0,0,0.2);color:#fff;overflow:hidden;padding:.5em;position:relative;z-index:2;}
header .logo{cursor:pointer;width:10%;float:left;overflow:hidden;}
header .logo img{margin-top:2px;width:90%}
header .titular{margin:0 8% 0 12%;text-shadowwidth:60%;}
header .titular .filtro{color:#fc0;font-size:14px;font-style:italic;font-weight:bold;text-decoration:none}
header .titular .publicar{background:#fc0;color:#fff;float:right;font-style:italic;padding:.2em .5em;text-decoration:none;text-shadow:1px 1px 0 #000;}
header .titular .publicar:before{content:"\e600";display:inline-block;font-family:"iconitos";margin:0 3px 0 0;text-shadow:none}
header .titular .titulo{color:#fc0;font-size:38px;font-style:italic;font-weight:normal;text-decoration:none;margin:0;padding:0}
header .usuario{position:absolute;width:30%;right:10px;top:10px;}
header .usuario .publicar{background:#fc0;color:#600;position:absolute;float:left;top:40px;font-style:italic;margin:10px 1em 0 2;width:50%;padding:.1em 0;text-decoration:none;}
header .usuario .publicar:before{display:inline-block;content:"\e605";font-family:"iconitos";margin:0 3px 0 0;color:#600}
header .usuario .avatar{margin:0 1.1em 0 0;position:relative;z-index:4;left:38%;}
header .usuario .avatar img{width:30%;border-radius:50%}
header .usuario .flechita{background:#fc0 url("../imagenes/strips-bold.png");color:#600;display:block;padding:3px;position:absolute;right:15px;top:10px;text-align:right;text-decoration:none;width:50%;height:34px;z-index:0}
.slide-box{width:150px;z-index:400;position:fixed;top:10px;background:#600 url("../imagenes/strips-bold.png");border-radius:5px;color:#fc0;height:140px;right:-152px;}
.slide-box #nickWrap{margin:10px}
.slide-box #enviar{background:#fc0 url("../imagenes/strips-bold.png");color:#600;border-top-left-radius:10px;border-bottom-right-radius:10px}
.slide-box #nickname{background:#fff url("../imagenes/strips-bold.png");color:#600;border-top-left-radius:10px;border-bottom-right-radius:10px}
.slide-box .slide-box-button{background:#fc0 url("../imagenes/strips-bold.png");border-right:0;text-align:center;line-height:40px;width:35px;height:40px;display:block;position:absolute;z-index:400;left:-35px;top:20px;cursor:pointer;}
.slide-box .slide-box-button:before{color:#600;content:"\e607";font-family:"iconitos";font-size:1.1em}
.slide-box i{margin-right:0}
.slide-box2{width:550px;z-index:400;position:fixed;height:400px;top:200px;border-top-left-radius:20px;border-bottom-right-radius:20px;background:#600 url("../imagenes/strips-bold.png");color:#fc0;right:-552px;}
.slide-box2 #nickWrap{margin:10px}
.slide-box2 .slide-box-button2{background:#fc0 url("../imagenes/strips-bold.png");border-right:0;text-align:center;line-height:40px;color:#600;width:100px;height:60px;border-top-left-radius:20px;border-bottom-right-radius:20px;margin:5px;display:block;position:absolute;z-index:400;left:-100px;top:20px;cursor:pointer;}
.slide-box2 .slide-box-button2:before{color:#600;content:"\e607";font-family:"iconitos";font-size:1.1em}
.slide-box2 i{margin-right:0}
nav{background:#fc0;margin:0 1px 0 0%;border-left:15px solid #fff;position:relative;border-bottom-right-radius:10px;margin-right:10px;}
nav:before{border-bottom:20px solid transparent;border-left:7px solid #fff;border-top:20px solid transparent;content:"";left:0;position:absolute;top:0}
nav .menu{height:40px;line-height:40px;margin:0;padding:0;overflow-x:auto;white-space:nowrap;}
nav .menu::-webkit-scrollbar{display:none}
nav .menu li{display:inline-block;}
nav .menu li a{color:#600;display:block;margin:0 .5em;padding:0 .2em;text-decoration:none;}
nav .menu li a:hover{background:rgba(0,0,0,0.1)}
#message{font-style:italic;border:1px solid #ccc;width:350px;height:2em;display:block;margin-bottom:0;border-radius:0 0 5px 5px;color:#00f}
#chat{border:1px #fc0;height:300px;background:#600 url("../imagenes/strips-bold.png");font-size:24px;overflow:auto}
#contentWrap{height:360px;width:500px;padding:3px;z-index:1000;position:absolute;top:2%;left:3%;margin-top:7px}
#chatWrap{float:left;color:#00f;background:#fff;width:350px}
#conectado{text-decoration:none;color:#fff;}
#conectado:before{font-family:"iconos";content:"\e606"}
.error{color:#f00}
.whisper{color:#808080;font-style:italic;padding-left:5px}
.msg{font-style:italic;padding-left:18px;padding-right:10px;padding:10px;margin:4px;text-shadow:0 0 2px 2px;background:#fff url("../imagenes/strips-bold.png");border-top-left-radius:10px;border-bottom-right-radius:10px;padding:2px;border:1px solid #fc0;color:#600;font-size:18px}
#envio{display:none}
#users{position:absolute;background:#fc0;color:#600;left:380px;font-size:20px;overflow:auto;height:80px;width:100px;top:27px;display:none;border-top-left-radius:5px;border-bottom-right-radius:5px}
.ver{position:absolute;background:#fc0;color:#600;left:380px;border-top-left-radius:5px;border-bottom-right-radius:5px}
#send-message{border-top-left-radius:5px;border-bottom-right-radius:5px;}
#send-message input{color:#600;background:#fff url("../imagenes/strips-bold.png");border-top-left-radius:5px;border-bottom-right-radius:5px}
.fguardar{position:absolute;border-top-left-radius:20px;border-bottom-right-radius:20px;left:530px;width:30%;min-height:210px;color:#600;font-style:bold;padding-top:10px;padding-left:40px;overflow:hidden;background:#fc0 url("../imagenes/strips-bold.png");}
.fguardar input{position:absolute;left:150px;border-top-left-radius:10px;border-bottom-right-radius:10px;color:#600;font-style:italic}
.fguardar .btn{background:#600 url("../imagenes/strips-bold.png");border:1px solid #fc0;color:#fc0;font-style:bold}
.fguardar .btn1{position:relative;background:#600 url("../imagenes/strips-bold.png");padding:2px;text-decoration:none;color:#fc0;z-index:20;border-top-left-radius:10px;border-bottom-right-radius:10px;left:210px;font-style:bold}
.fguardar label{padding:2px;left:30px}
.posts{padding:.5em;margin:0 1px 0 1%;height:800px;}
.posts .post{background:#fff;border-radius:0 0 .5em .5em;box-shadow:2px 2px 10px rgba(0,0,0,0.5);color:#7a7a7a;margin-bottom:1em;}
.posts .post .acciones{border-top:3px solid #fc0;padding:.5em;overflow:hidden;}
.posts .post .acciones .datos{float:right;}
.posts .post .acciones .datos textarea{top:0;width:220px}
.posts .post .acciones .datos .comentarios{color:#fff;padding:10px;color:#fc0;text-decoration:none;border-top-left-radius:10px;border-bottom-right-radius:10px;background:#600 url("../imagenes/strips-bold.png")}
.posts .post .acciones .datos .estrellita{background:#fc0 url("../imagenes/strips-bold.png");font-weight:bold;border-top-left-radius:20px;border-bottom-right-radius:20px;color:#600;padding:.5em 1em;text-decoration:none;}
.posts .post .acciones .datos .estrellita:after{color:#600;content:"\e600";font-family:"iconitos";font-size:1.1em}
.posts .post .acciones .votos{float:left;}
.posts .post .acciones .votos .down,.posts .post .acciones .votos .up{text-decoration:none;}
.posts .post .acciones .votos .down:before,.posts .post .acciones .votos .up:before{font-family:"iconitos";font-size:1.5em;vertical-align:middle}
.posts .post .acciones .votos .down{color:#f00;}
.posts .post .acciones .votos .down:before{content:"\e602"}
.posts .post .acciones .votos .up{color:#008000;}
.posts .post .acciones .votos .up:before{content:"\e601"}
.posts .post .descripcion.extended .detalles{height:auto;padding-bottom:20px}
.posts .post .descripcion .detalles{height:160px;margin-left:130px;}
.posts .post .descripcion .detalles .back{float:right;background:#fc0 url("../imagenes/strips-bold.png");border-top-left-radius:10px;border-bottom-right-radius:10px;color:#600;padding:.5em 1em;text-decoration:none}
.posts .post .descripcion .detalles .autor{margin:.5em 0 2em 0}
.posts .post .descripcion .detalles .fecha{float:right;margin:0 1em 0 0}
.posts .post .descripcion .detalles .tag{background:#fc0 url("../imagenes/strips-bold.png");color:#600;padding:.5em 1em;text-decoration:none;border-top-left-radius:20px;border-bottom-right-radius:20px;}
.posts .post .descripcion .detalles .tag:after{font-family:'iconitos';margin:4px;font-size:20px;content:"\e603"}
.posts .post .descripcion .detalles .tag-ex{background:#fc0 url("../imagenes/strips-bold.png");border-top-left-radius:10px;border-bottom-right-radius:10px;font-style:bold;color:#600;padding:.5em 1em;text-decoration:none;}
.posts .post .descripcion .detalles .tag-ex:after{font-family:'iconitos';margin:4px;font-size:20px;content:"\e603"}
.posts .post .descripcion .detalles .titulo{color:#444;font-size:18px;font-style:italic;margin:0;padding:.5em .5em 0 0}
.posts .post .descripcion .imagen{float:left;}
.posts .post .descripcion .imagen img{height:160px;-webkit-transition:.5s;-moz-transition:.5s;border-radius:3px;vertical-align:top;width:120px;vertical-align:top}
.posts .post .descripcion .imagen:hover img{-webkit-transform:scale(1.7);-moz-transform:scale(1.7)}
@media screen and (min-width: 768px){header .titular .publicar{font-size:1.1em;padding-left:3em;position:relative;}
header .titular .publicar:before{left:0;font-size:2.5em;position:absolute;top:-10px}
.posts .post{display:inline-block;width:48%;vertical-align:top;}
.posts .post:nth-child(odd){margin-right:2%}
}@media screen and (max-width: 768px){header .logo .publicar{font-size:.25em;padding-left:3em;position:relative}
header .logo:before{left:0;font-size:2.5em;position:absolute;top:-10px}
header .titular .titulo{font-size:1.7em}
header .titular .filtro{font-size:.7em}
header .slide-box .slide-box-button{font-size:.25em;width:20px;height:10px}
header .usuario .publicar{width:80px;height:20px;font-size:.75em;top:20px;margin:4px}
header .usuario .flechita{font-size:.75em;width:60px;height:15px;margin:2px}
}