<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" 
        content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>FullCars</title>
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/puls4.css" />

    {% if env === "dev" %}
    <script src="/js/vendor/jquery-2.0.3.js"></script>
    <script src="/js/vendor/underscore.js"></script>
    <script src="/js/vendor/backbone.js"></script>
    <script src="/js/vendor/swig.js"></script>

    <script src="/js/vendor/socket.io.js"></script>

    <script src="/js/vendor/neon.js"></script>
    <script src="/js/vendor/CustomEvent.js"></script>
    <script src="/js/vendor/CustomEventSupport.js"></script>
    <script src="/js/vendor/PonyExpress.js"></script>    

    <script src="/js/init.js"></script>

    <script src="/js/backbone/models/article.js"></script>
    <script src="/js/backbone/collections/articles.js"></script>

    <script src="/js/backbone/views/article-view.js"></script>
    <script src="/js/backbone/views/app.js"></script>

    <script src="/js/backbone/routers/base.js"></script>

    <script src="/js/main.js"></script>
    {% endif %}
</head>
<body>
    <header>
        <div class="logo">
           
            <img src="imagenes/merce.gif" alt="Puls4" />

        </div>
        <div class="titular">
            <h1 class="titulo">
                Full Cars 
            </h1>
            <div>
                <a class="filtro" href="#">
                    Tenemos las mejores marcas, con precios de otro planeta
                </a>
                
            </div>
        </div>
        <div class="usuario">
            <a class="publicar" href="#">
                    Publicar
                </a>
            <figure class="avatar">
                <img src="imagenes/avatar.jpg" alt="freddier" />
            </figure>

            <a class="flechita" href="#">Sesion</a>



        </div>
    </header>
    <div class="slide-box" id="slide-box">
      <div class="bor"></div>
      <div class="padd">
        <div class="slide-box-button">
          <i class="icon-chevron-left"></i>
        </div>
        <div id="nickWrap">
        <h5>Nick de Chat:</h5>
        <p id="nickError"></p>
        <form id="setNick">
            <input size="10" id="nickname"></input>
            <input type="button" value="Enviar" id="enviar"></input>
        </form>
        </div>      
      </div>
    </div>

     <div class="slide-box2" >
      <div class="bor"></div>
      <div class="padd">
        <div class="slide-box-button2">Chat
          <i class="icon-chevron-left"></i>
        </div>
    <div id="contentWrap">
        <div id="chatWrap">
            <div id="chat"></div>
            <form id="send-message">
                <input size="25" id="message"></input>
                <input type="submit" id="envio"></input>
            </form>
            
        </div>
        <button id="verconectado" class="ver">Conectados</button>
        <div id="users"></div>
    </div>
      </div>
    </div>


    <nav>
        <ul class="menu">
            <li><a href="#">Comprar</a></li>
            <li><a href="#">Listar</a></li>
            <li><a href="#">Mejores Precios</a></li>
            <li><a href="#">Carrito</a></li>
            
            
        </ul>
    </nav>
    

    <div id="nickWrap" style ="display:none">
        <p>Nick de Chat:</p>
        <p id="nickError"></p>
        <form id="setNick">
            <input size="35" id="nickname" name="nickname"></input>
            <input type="submit"></input>
        </form>
    </div>



    <form class="fguardar" action="" style="display:none">



        <p><label for="titulo">Nombre:</label>
            <input name="titulo" type="text"></p>
        <p><label for="autor">Precio:</label>
            <input name="autor" type="text"></p>
        <p><label for="tag">Categoria:</label>
            <input name="tag" type="text"></p>
        <p><label for="tag">Comentario:</label>
            <input name="content" type="text"></p>
       <a href="" class="btn1" >X</a>
        <input type="submit" class="btn" value="Publicar">

    </form> 

    
      
    <section class="posts">

    </section>
    <footer>
        <h3>
            <strong>Powered by Platzi</strong>
            <span class="mejor">
                mejorando.la 2013
            </span>
        </h3>
    </footer>

    <script type="text/template" id="article-template">
        <div class="descripcion">
            <figure class="imagen">
                <img src="<%= image %>" />
            </figure>
            <div class="detalles">
                <h2 class="titulo"><%= title %></h2>
                <p class="autor">
                   <a href="#"><%= user %></a>
                </p>
                <a class="tag" href="#"><%= "" %></a>
                <p class="fecha">hace <strong>20</strong> min</p>

            </div>
        </div>
        <div class="acciones">
            <div class="votos">
                <a class="up" href="#"></a>
                <span class="total"><%= votes %></span>
                <a class="down" href="#"></a>
            </div>

            <div class="datos">
             <a class="estrellita" id="estrellita" href="#">
                   Comentar            
                </a>
                </a>
                
            </div>
        </div>
    </script>


    <script type="text/template" id="article-extended-template">
        <div class="descripcion extended">
            <figure class="imagen">
                <img src="<%= image %>" />
            </figure>
            <div class="detalles">
            <input class="back" type="button" value="X"></input>
                <h2 class="titulo"><%= title %></h2>
                <p class="autor">
                     <a href="#"><%= user %></a>
                </p>
                <a class="tag-ex" href="#"><%= tag %></a>
                <p><%= content %></p>
                <p class="resultado"  id="resultado" class="resultado"></p>
                <p class="fecha">hace <strong>20</strong> min</p>



            </div>
        </div>
        <div class="acciones">
            <div class="votos">
                <a class="up" href="#"></a>
                <span class="total"><%= votes %></span>
                <a class="down" href="#"></a>
            </div>
            <div class="datos">
                <textarea id="com" class="com" name="com"></textarea>     
                
                <a class="comentarios" id="comentarios" href="#">
                   OK            
                </a>
                </a>
               
                
            </div>
        </div>
    </script>

    {% if env === "prod" %}
    <script src="//code.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="/js/vendors.min.js"></script>
    
    <script src="app.min.js"></script>
    {% endif %}    
    
    
    <script src="js/custom.js"></script> <!-- Main js file -->
    <script src="js/jquery.js"></script>
    <script src="js/chat.js"></script>

    
</body>
</html>










